@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300;1,700&display=swap");

body {
  font-family: "Lato", sans-serif;
}

.content-above-navbar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 20px;
}

.card-div {
  display: flex;
  flex-wrap: wrap;
}

.card-products {
  width: 18rem;
  margin: 0 10px 10px;
}

.button-cart {
  position: fixed;
  bottom: 0;
  text-align: center;
}
.total-buy {
  display: flex;
  justify-content: space-between;
  margin-left: 5px;
  margin-right: 10px;
}
